In [1]:
# import libraries
import numpy as np
import pandas as pd

# print version
print("Numpy Version: " + np.__version__)
print("Pandas Version: " + pd.__version__)

# display option
# pd.set_option('display.max_rows', None)

Numpy Version: 1.26.4
Pandas Version: 2.2.2

In [2]:
# export column names
columns_name = pd.read_html('../Data/THORACIC_DATA.htm',)
columns_name_df = columns_name[0]
column_name = list(columns_name_df['LABEL'])

# import into DataFrame
df_main = pd.read_csv('../Data/THORACIC_DATA.DAT', sep='\t', header=None, names = column_name, encoding='latin', low_memory=False)

In [3]:
# export column names
columns_name = pd.read_html('../Data/THORACIC_FOLLOWUP_DATA.htm',)
columns_name_df = columns_name[0]
column_name = list(columns_name_df['LABEL'])
# import into DataFrame
df_followup = pd.read_csv('../Data/THORACIC_FOLLOWUP_DATA.DAT', sep='\t', header=None, names = column_name, encoding='latin', \
                          low_memory=False)

In [4]:
columns_name = pd.read_html('../Data/THORACIC_FORMATS_FLATFILE.htm',)
columns_name_df = columns_name[0]
column_name = list(columns_name_df['LABEL'])
# import into DataFrame
df_format = pd.read_csv('../Data/../Data/THORACIC_FORMATS_FLATFILE.DAT', sep='\t', header=None, names = column_name,\
                        encoding='latin')

In [5]:
# display length of each DataFrame
len(df_main), len(df_followup), len(df_format)

(200217, 919069, 36478)

In [6]:
# display first 5 rows
df_main.head()

,WL_ORG,COD_WL,COD_OSTXT_WL,TRANSPLANT_COUNTRY,NUM_PREV_TX,THORACIC_DGN,GROUPING,TAH,VAS,ONVENT,...,ABN_CONGEN_DON,WALL_ABN_SEG_DON,WALL_ABN_GLOB_DON,DATA_TRANSPLANT,DATA_WAITLIST,CTR_CODE,OPO_CTR_CODE,INIT_OPO_CTR_CODE,END_OPO_CTR_CODE,LISTING_CTR_CODE
0,LU,.,NaN,.,0,1604,D,NaN,NaN,NaN,...,NaN,NaN,NaN,N,Y,Unknown,Unknown,01054,01054,11191
1,HR,.,NaN,.,0,1201,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,N,Y,Unknown,Unknown,03720,03720,13919
2,HR,.,NaN,.,0,1003,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,N,Y,Unknown,Unknown,01519,01519,19530
3,HR,.,NaN,.,1,1101,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,N,Y,Unknown,Unknown,20243,20243,15283
4,HR,.,NaN,.,0,1007,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,N,Y,Unknown,Unknown,20429,20429,11253

In [7]:
# main count columns
num_columns = df_main.shape[1]
print("Number of columns:", num_columns)

Number of columns: 546

In [8]:
print(f"Number of columns {df_main.shape[1]} & Number of Records {df_main.shape[0]:,}")

Number of columns 546 & Number of Records 200,217

In [9]:
df_main.WL_ORG.value_counts()

WL_ORG
HR    128215
LU     68079
HL      3495
Name: count, dtype: int64

In [10]:
df_main.columns[df_main.columns.str.startswith('L')]

Index(['LEFT_VENT_REMODEL_OLD', 'LAST_INACT_REASON', 'LIFE_SUP_TCR',
       'LVAD_AT_LISTING', 'LVAD_WHILE_LISTED', 'LU_RECEIVED', 'LU2_RECEIVED',
       'LASTFUNO', 'LIV_DON_TY', 'LOS', 'LIFE_SUP_TRR', 'LV_EJECT_METH',
       'LV_EJECT', 'LT_ONE_WEEK_DON', 'LISTYR', 'LISTING_CTR_CODE'],
      dtype='object')

In [11]:
df_main.LISTYR.value_counts().sort_values(ascending=False)

LISTYR
2021    8165
2019    8030
2018    7982
2017    7583
2020    7349
2016    7253
2015    7066
2014    7028
2013    6561
1998    6156
1995    6132
2012    6052
2010    6052
2011    5966
1996    5865
2009    5858
1997    5830
1999    5686
2000    5538
2001    5537
1994    5443
2008    5439
1993    5333
1992    5301
2002    5198
2007    5120
2003    4958
2004    4958
1991    4935
2006    4888
2005    4455
1990    4272
1989    3344
1988    3153
1987    1231
.        428
1986      63
1985       7
1984       2
Name: count, dtype: int64

In [12]:
# first 5 rows
df_followup.head()

,CARE_PROVIDED_BY,PX_STAT,COD,COD_OSTXT,HOSP,FUNC_STAT,WGT_KG,HGT_CM,PERM_STATE,COD2,...,GRF_FAIL_DATE,MEASUREMENT_DATE,TRR_ID_CODE,TRT_REJ,TRT_REJ_NUM,STATUS_TRF,VAL_DT_TRF,FOL_CD,FOL_CTR_CODE,TRR_FOL_ID_CODE
0,4,D,2002,NaN,Y,996,37.1900,.,NaN,.,...,.,.,A10000,Y,.,V,26AUG1998:00:00:00.000,999,651,A1956357
1,.,A,.,NaN,NaN,.,.,.,TX,.,...,.,.,A100000,NaN,.,V,27MAR2009:18:14:53.000,6,17081,A2868235
2,1,A,.,NaN,N,2080,.,.,TX,.,...,.,.,A100000,NaN,.,V,18SEP2009:15:33:23.000,10,17081,A3000906
3,1,A,.,NaN,Y,2070,.,.,TX,.,...,.,.,A100000,NaN,.,V,14OCT2010:11:18:17.000,20,17081,A3268535
4,1,A,.,NaN,N,2070,.,.,TX,.,...,.,.,A100000,NaN,.,V,29SEP2011:11:58:30.000,30,17081,A3551313

In [13]:
# followup count columns 
num_columns = df_followup.shape[1]
print("Number of columns:", num_columns)

Number of columns: 66

In [14]:
df_format.head()

,LABEL,FMTNAME,TYPE,CODE
0,Not Reported,ABNBRONC,N,Null or Missing
1,No Bronchoscopy,ABNBRONC,N,1
2,Bronchoscopy Results normal,ABNBRONC,N,2
3,"Bronchoscopy Results, Abnormal-purulent secret...",ABNBRONC,N,3
4,"Bronchoscopy Results, Abnormal-aspiration of f...",ABNBRONC,N,4

In [15]:
# format count columns
num_columns = df_format.shape[1]
print("Number of columns:", num_columns)

Number of columns: 4

### User Function(s)

In [16]:
def write_csv(df, filename):
    """
    write dataframe to disk
    """
    # intialize variable
    file_path = '../Data/' + filename
    
    # write to disk
    df.to_csv(file_path, index=False)
    
    return print(f"{len(df):,} records written to {file_path}.")

# Data Separate

In [17]:
# extract adults only from main DataFrame
df_main_adult = df_main[df_main.AGE_GROUP == 'A'].copy()

In [18]:
# display 
df_main_adult.head()

,WL_ORG,COD_WL,COD_OSTXT_WL,TRANSPLANT_COUNTRY,NUM_PREV_TX,THORACIC_DGN,GROUPING,TAH,VAS,ONVENT,...,ABN_CONGEN_DON,WALL_ABN_SEG_DON,WALL_ABN_GLOB_DON,DATA_TRANSPLANT,DATA_WAITLIST,CTR_CODE,OPO_CTR_CODE,INIT_OPO_CTR_CODE,END_OPO_CTR_CODE,LISTING_CTR_CODE
68957,HR,.,NaN,.,0,1999,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Y,Y,04464,14911,14911,14911,04464
68958,HR,.,NaN,.,0,1999,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Y,Y,19034,11346,24149,24149,19034
68959,HR,.,NaN,.,0,1999,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Y,Y,16616,08866,19809,19809,Unknown
68960,NaN,.,NaN,.,.,.,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Y,N,16678,22537,Unknown,Unknown,Unknown
68961,HR,.,NaN,.,0,1999,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Y,Y,07905,12772,25172,25172,07905

In [19]:
# replace '.' with np.nan using map ( map operation across the entire DataFrame)
df_main_adult = df_main_adult.map(lambda x: np.nan if x == '.' else x)

# display random 10 rows
df_main_adult.sample(10)

,WL_ORG,COD_WL,COD_OSTXT_WL,TRANSPLANT_COUNTRY,NUM_PREV_TX,THORACIC_DGN,GROUPING,TAH,VAS,ONVENT,...,ABN_CONGEN_DON,WALL_ABN_SEG_DON,WALL_ABN_GLOB_DON,DATA_TRANSPLANT,DATA_WAITLIST,CTR_CODE,OPO_CTR_CODE,INIT_OPO_CTR_CODE,END_OPO_CTR_CODE,LISTING_CTR_CODE
126324,HR,NaN,NaN,NaN,0,1999,NaN,N,N,N,...,NaN,NaN,NaN,Y,Y,21080,20243,20243,20243,21080
102606,LU,NaN,NaN,NaN,0,1605,D,NaN,NaN,NaN,...,NaN,NaN,NaN,Y,Y,07161,07006,20491,20491,07161
161776,LU,NaN,NaN,NaN,0,1604,D,NaN,NaN,NaN,...,NaN,NaN,NaN,Y,Y,20522,20429,05952,05952,20522
173985,LU,NaN,NaN,NaN,0,1607,A,NaN,NaN,NaN,...,N,Y,N,Y,Y,07471,23002,03782,03782,07471
119332,HR,NaN,NaN,NaN,0,1199,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Y,Y,23901,04433,07657,07657,23901
186916,HR,NaN,NaN,NaN,0,1007,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Y,Y,19344,12617,11377,11377,19344
118502,HR,NaN,NaN,NaN,0,1007,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Y,Y,11749,04433,04433,04433,11749
146838,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Y,N,02573,Unknown,Unknown,Unknown,Unknown
160382,HR,NaN,NaN,NaN,0,1007,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Y,Y,01953,22847,22847,22847,01953
140978,HR,NaN,NaN,NaN,0,1200,NaN,N,N,N,...,NaN,NaN,NaN,Y,Y,16709,02821,02821,02821,16709

In [20]:
# check distinct values in the WL_ORG feature
df_main_adult.WL_ORG.value_counts(dropna=False)

WL_ORG
HR     72411
LU     44548
HL      1187
NaN      333
Name: count, dtype: int64

In [21]:
# remove all NaN from WL_ORG feature
df_main_adult = df_main_adult[~df_main_adult.WL_ORG.isnull()]
# recheck distinct values in the WL_ORG feature
df_main_adult.WL_ORG.value_counts(dropna=False)

WL_ORG
HR    72411
LU    44548
HL     1187
Name: count, dtype: int64

In [22]:
# write all the files
write_csv(df_main_adult, 'thoracic_all_main.csv')
# write HL
write_csv(df_main_adult[df_main_adult.WL_ORG == 'HL'], 'thoracic_HL_main.csv')
# write HR
write_csv(df_main_adult[df_main_adult.WL_ORG == 'HR'], 'thoracic_HR_main.csv')
# write LU
write_csv(df_main_adult[df_main_adult.WL_ORG == 'LU'], 'thoracic_LU_main.csv')
# write followup
write_csv(df_followup, 'thoracic_followup.csv')

118,146 records written to ../Data/thoracic_all_main.csv.
1,187 records written to ../Data/thoracic_HL_main.csv.
72,411 records written to ../Data/thoracic_HR_main.csv.
44,548 records written to ../Data/thoracic_LU_main.csv.
919,069 records written to ../Data/thoracic_followup.csv.